@media screen and (min-width: 800px) {
  .heading-quote-consultanta {
    z-index: 1;
    font-family: Montserrat;
    width: 500px;
    font-size: 26px;
    padding-top: 30vh;
    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 50px;
    color: white;
  }

  .dec-consultanta {
    width: 300px;
    height: 1px;
    background-color: #c1a267ff;
    margin-left: 5%;
    margin-top: 10px;
    z-index: 0;
  }

  .heading-quote-consultanta1 {
    z-index: 1;
    font-family: Montserrat;
    width: 350px;
    font-size: 24px;
    padding-top: 10px;
    margin-left: 80px;
    margin-top: 0;
    color: white;
  }

  .heading-cont-consultanta {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../assetsMin/consultanta2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn-heading-consultanta {
    font-size: 20px;
    font-family: Montserrat;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid white;
    margin-left: 80px;
    margin-top: 0px;
  }

  .consultanta-cont {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-color: black;
  }

  .consultanta-desc-text {
    height: 200px;
    color: white;
    font-family: Montserrat;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
  }

  .consultanta-dec {
    margin-top: 60px;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: 1px;
    background-color: #c1a267;
  }

  .consultanta-desc-text2 {
    height: auto;
    color: white;
    font-family: Montserrat;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
  }

  .despre-cont-text {
    padding-top: 100px;
    height: auto;
    padding-bottom: 100px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: black;
    color: white;
    font-family: Montserrat;
  }

  .btn-contact-consultanta {
    height: 40px;
    width: 180px;
    font-family: Montserrat;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .despre-heading-consultanta {
    padding-top: 0px;
  }

  .heading-quote-consultanta {
    z-index: 1;
    font-family: Montserrat;
    max-width: 300px;
    font-size: 1.5rem;
    padding-top: 20vh;
    padding-bottom: 30px;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
  }

  .heading-cont-consultanta {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../assetsMin/consultanta2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .heading-quote-consultanta1 {
    z-index: 1;
    font-family: Montserrat;
    width: 350px;
    font-size: 24px;
    padding-top: 100px;
    margin-left: 25px;
    margin-top: 0;
    color: white;
  }

  .line-dec-ver-consultanta {
    width: 0.5px;
    height: 60px;
    background-color: #c1a267ff;
    position: absolute;
    margin-left: 45%;
    margin-top: 10px;
    z-index: 0;
  }

  .btn-heading-consultanta {
    font-size: 20px;
    font-family: Montserrat;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid white;
    margin-left: 25px;
  }

  .consultanta-cont {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: black;
  }

  .despre-cont-text {
    padding-top: 75px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: black;
    color: white;
    font-family: Montserrat;
  }

  .consultanta-desc-text {
    color: white;
    font-family: Montserrat;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
  }

  .consultanta-dec {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: 1px;
    background-color: #c1a267;
  }

  .consultanta-dec2 {
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: 1px;
    background-color: #c1a267;
  }

  .consultanta-desc-text2 {
    color: white;
    font-family: Montserrat;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
  }

  .btn-contact-consultanta {
    height: 40px;
    width: 180px;
    font-family: Montserrat;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 18px;
  }
}
