.despre-p {
  font-size: 1rem;
}

@media screen and (min-width: 800px) {
  .line-dec-ver-despre {
    width: 1px;
    height: 60px;
    background-color: #c1a267ff;
    margin-left: 50%;
    margin-top: 10px;
    margin-bottom: 40px;
    z-index: 0;
  }
  .despre-img {
    border: 2px solid #c1a267ff;
    padding: 0px;
    width: 80%;
    height: auto;
    margin: auto;
  }
  .brief-despre-noi {
    padding-top: 50px;
    display: flex;
    align-items: center;
  }
  .despre-cont {
    width: 100%;
    height: 10px;
    background-color: black;
  }
  .text-despre {
    width: 90%;
    margin: auto;
  }
  .despreCont-text {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: black;
    color: white;
    font-family: Montserrat;
  }

  .despre-heading {
    width: 200px;
    margin: auto;
    /* border: 1px solid #c1a267ff; */
    font-size: 22px;
    text-align: center;
    font-size: 30px;
    padding: 10px 0px;
  }

  .heading-quote-despre {
    z-index: 1;
    font-family: Montserrat;
    width: 500px;
    font-size: 26px;
    padding-top: 30vh;
    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    padding-bottom: 30px;
  }

  .heading-quote-despre1 {
    z-index: 1;
    font-family: Montserrat;
    width: 350px;
    font-size: 24px;
    padding-top: 0px;
    margin-left: 80px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
  }

  .briefText {
    font-family: Montserrat, serif;
    text-align: left;
    width: 80%;
    margin: auto;
    font-size: 1rem;
  }

  .heading-cont-despre {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../assetsMin/despre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (max-width: 800px) {
  .text-despre {
    padding-top: 100px;
  }

  .despre-cont {
    width: 100%;
    height: 30px;
    background-color: black;
  }

  .despre-heading {
    font-size: 22px;
  }

  .despreCont-text {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    background-color: black;
    font-size: 1rem;
    color: white;
    font-family: Montserrat;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .briefText {
    /* font-size: Montserrat; */
    text-align: left;
    width: 100%;
    font-size: 1rem;
  }

  .second-brief-despre {
    margin-top: 0;
  }

  .heading-cont-despre {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("../assetsMin/despre.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .despre-img {
    border: 2px solid #c1a267ff;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .heading-quote-despre {
    z-index: 1;
    font-family: Montserrat;
    font-size: 25px;
    max-width: 80%;
    padding-top: 20vh;
    margin-left: 25px;
    margin-right: 15px;
    margin-bottom: 0;
    padding-bottom: 30px;
    margin-top: 0;
    color: white;
  }

  .heading-quote-despre1 {
    z-index: 1;
    font-family: Montserrat;
    max-width: 100%;
    font-size: 25px;
    padding-top: 10px;
    margin-left: 25px;
    margin-top: 0;
    color: white;
  }

  .line-dec-ver-despre {
    width: 1px;
    height: 60px;
    background-color: #c1a267ff;
    position: absolute;
    margin-left: 45%;
    margin-top: 10px;
    z-index: 0;
  }

  .despre-heading {
    text-align: center;
    font-size: 30px;
  }
}
