.loading-div {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #fff;
}

.loading-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: #ffffff; /* culoarea barei de încărcare */
  animation: progress 2s linear;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.loading-image {
  width: 200px;
  filter: drop-shadow(
    5px 5px 5px rgba(193, 162, 103, 0)
  ); /* Aplică umbrire inițială */
  animation: pulse-shadow 1s alternate; /* Combină animația de drop shadow și pulse */
  animation-iteration-count: 2;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes pulse-shadow {
  0% {
    filter: drop-shadow(
      10px 10px 10px rgba(193, 162, 103, 0)
    ); /* Opacitate maximă la începutul animației */
  }
  100% {
    filter: drop-shadow(
      5px 5px 5px rgba(193, 162, 103, 0.7)
    ); /* Opacitate minimă la sfârșitul animației */
  }
}
