.multumire-page {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    text-align: center;
}

.multumire-page h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.multumire-page p {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
