.desc-servicii {
  font-size: 1rem;
  margin: 0;
  padding-top: 10px;
}

@media screen and (min-width: 801px) {
  #mobile-detalii-content {
    display: none;
  }
  .edit-detalii-servicii button {
    margin: 0;
    font-family: Montserrat;
    border: 1px solid #c1a267ff;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 1px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .edit-detalii-servicii button:hover {
    background-color: #4e3912;
  }

  .edit-detalii-servicii button.active {
    background-color: #4e3912;
    color: #fff;
  }
  .line-dec-ver10 {
    width: 15rem;
    height: 1px;
    background-color: #c1a267ff;
    margin: 0.5rem;
    z-index: 0;
  }

  .close-detaliiServicii {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #c1a267ff;
    top: 10px;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
  }

  .close-detaliiServicii::before,
  .close-detaliiServicii::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-detaliiServicii::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .close-detaliiServicii:hover {
    background-color: #4e3912;
  }

  /* DESKTOP - Servicii - `Mai multe detalii` */

  #detalii-content {
    position: relative;
    color: #fff;
    max-width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #c1a267ff;
    background-color: transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  #detalii-content h3 {
    margin: 0;
  }

  #detalii-content code {
    font-size: 1rem;
  }

  .text-servicii {
    color: white;
    font-family: Montserrat;
    font-size: 15px;
  }

  .desc-servicii {
    height: 20vh;
    font-size: 1rem;
  }
  .desc-servicii ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
  .desc-servicii ul li {
    padding-left: 1em;
    text-indent: -1em;
  }

  .desc-servicii ul li::before {
    content: "»";
    color: #c1a267ff;
    padding-right: 5px;
  }

  .brief {
    padding: 100px 0px;
  }

  .first-brief-servicii {
    width: 40%;
    text-align: right;
  }

  .second-brief-servicii {
    width: 60%;
    margin-left: 0;
    font-family: Montserrat;
    color: white;
    float: right;
  }

  .brief-servicii {
    width: 85%;
    margin: auto;
    display: flex;
    background-color: black;
    padding-top: 150px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
  }

  .heading-servicii {
    padding-top: 20px;
    font-size: 20px;
    margin: 0;
  }

  .btn-servicii {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #c1a267ff;
    color: white;
    font-family: Montserrat;
    height: 33px;
    width: 170px;
    text-align: left;
    font-size: 16px;
  }

  .servicii-cont {
    width: 100%;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .img-serv {
    width: 100%;
    object-fit: cover;
    height: 180px;
  }

  .servicii-title {
    font-family: Montserrat;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    margin: 0;
    padding-top: 0px;
  }

  .servicii-subtitle {
    font-family: Montserrat;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    margin: 0;
    padding-top: 10px;
  }

  .line-dec-ver {
    width: 1px;
    height: 60px;
    background-color: #c1a267ff;
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .line-dec-ver2 {
    display: none;
  }

  .row-servicii {
    width: 90%;
    display: flex;

    margin-left: 5%;
    margin-right: 5%;
  }

  .row-servicii1 {
    padding-top: 50px;
    width: 90%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
  }

  .col-servicii {
    width: 33.33%;
    margin-left: 35px;
    margin-right: 35px;
  }

  .brief-img-servicii {
    width: 80%;
    object-fit: cover;
  }
  .brief-text p {
    line-height: 1.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 800px) {
  .desc-servicii {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
  }
  .brief-img-servicii {
    object-fit: cover;
    object-position: center;
    height: 230px;
    width: 100%;
  }

  .img-serv {
    width: 100%;
    object-fit: cover;
    height: 280px;
  }

  .text-servicii {
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    margin-left: 15px;
  }

  .heading-servicii {
    font-size: 22px;
  }

  .btn-servicii {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #c1a267ff;
    color: white;
    font-family: Montserrat;
    height: 37px;
    width: 190px;
    text-align: left;
    font-size: 16px;
  }

  #detalii-content {
    display: none;
  }

  .row-servicii {
    padding-top: 55px;
    width: 100%;
    display: grid;
  }

  .row-servicii1 {
    width: 100%;
    display: grid;
  }

  .col-servicii {
    width: 100%;
    margin-top: 50px;
  }

  .servicii-cont {
    width: 100%;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .servicii-title {
    font-family: Montserrat;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    margin: 0;
    padding-top: 0;
  }

  .servicii-subtitle {
    font-family: Montserrat;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding-top: 10px;
  }

  .line-dec-ver {
    width: 0.5px;
    height: 60px;
    background-color: #c1a267ff;
    position: absolute;
    z-index: 0;
    margin-left: 50%;
    margin-top: 20px;
  }

  .line-dec-ver2 {
    width: 20%;
    height: 2px;
    background-color: #c1a267ff;
    position: absolute;
    z-index: 0;
    margin-left: 40%;
  }

  .first-brief-servicii {
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }

  .second-brief-servicii {
    width: 100%;
    font-family: Montserrat;
    color: white;
  }

  .brief-servicii {
    display: grid;
  }

  .div-servicii {
    padding-left: 15px;
    /* padding-top: 80px; */
  }
  #mobile-detalii-content {
    position: relative;
    color: #fff;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #c1a267ff;
    background-color: transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  #mobile-detalii-content h3 {
    margin: 0;
  }

  .edit-detalii-servicii button {
    margin-top: 1rem;
    font-family: Montserrat;
    border: 1px solid #c1a267ff;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 1px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .edit-detalii-servicii button:hover {
    background-color: #4e3912;
  }

  .edit-detalii-servicii button.active {
    background-color: #4e3912;
    color: #fff;
  }
  #mobile-detalii-content code {
    font-size: 1rem;
  }
  .close-detaliiServicii {
    width: 10px;
    height: 20px;
    position: absolute;
    border: 1px solid #c1a267ff;
    top: 0px;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
  }

  .close-detaliiServicii::before,
  .close-detaliiServicii::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-detaliiServicii::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .close-detaliiServicii:hover {
    background-color: #4e3912;
  }

  .desc-servicii ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 1em;
    text-indent: -1em;
  }
  .desc-servicii ul li {
    padding-left: 1em;
    text-indent: -1em;
  }

  .desc-servicii ul li::before {
    content: "»";
    color: #c1a267ff;
    padding-right: 5px;
  }
}

@media screen and (min-width: 801px) and (max-height: 500px) {
  .desc-servicii {
    height: 250px;
  }
  .heading-servicii {
    font-size: 16px;
  }
  .col-servicii {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 801px) and (max-height: 800px) and (min-height: 551px) {
  .desc-servicii {
    height: 30vh;
  }
  .col-servicii {
    margin-left: 0;
    margin-right: 0;
  }
}
