/* .btn-servicii p {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #c1a267ff;
  color: white;
  font-family: Montserrat;
  height: 37px;
  width: 190px;
  text-align: left;
  font-size: 16px;
} */

/* TEST MIKE */

@media screen and (min-width: 800px) {
  .line-dec-ver10 {
    width: 15rem;
    height: 1px;
    background-color: #c1a267ff;
    margin: 0.5rem;
    z-index: 0;
  }

  .close-detaliiServicii {
    width: 20px;
    height: 20px;
    position: absolute;
    border: 1px solid #c1a267ff;
    top: 10px;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
  }

  .close-detaliiServicii::before,
  .close-detaliiServicii::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-detaliiServicii::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .close-detaliiServicii:hover {
    background-color: #4e3912;
  }

  /* DESKTOP - Servicii - `Mai multe detalii` */
  .edit-detalii-servicii button {
    font-family: Montserrat;
    border: 1px solid #c1a267ff;
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 1px;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .edit-detalii-servicii button:hover {
    background-color: #4e3912;
  }

  .edit-detalii-servicii button.active {
    background-color: #4e3912;
    color: #fff;
  }

  #detalii-content {
    position: relative;
    color: #fff;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #c1a267ff;
    background-color: transparent;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  #detalii-content h3 {
    margin: 0;
  }

  #detalii-content code {
    font-size: 1rem;
  }

  .div-servicii {
    padding-left: 15px;
  }

  .text-servicii {
    color: white;
    font-family: Montserrat;
    font-size: 15px;
    height: 200px;
  }

  .desc-servicii {
    height: 100px;
  }
  .desc-servicii ul {
    list-style-type: none; /* Remove default list item markers */
  }

  .desc-servicii ul li::before {
    content: "•"; /* Use a bullet character as content */
    color: #c1a267ff; /* Change the color of the bullet */
    display: inline-block;
    width: 1em; /* Adjust the width of the bullet */
    margin-right: 0.5em; /* Adjust the spacing between the bullet and the list item text */
  }

  .first-brief-servicii {
    width: 50%;
    text-align: center;
  }

  .second-brief-servicii {
    width: 44%;
    margin-left: 6%;
    font-family: Montserrat;
    color: white;
    float: right;
  }
  .aa {
    padding-top: 50px;
    height: 450px;
    display: inline-block;
  }
  .brief-servicii {
    display: flex;
    position: relative;
    /* height: 400px; */
    background-color: black;
    /*padding-top: 50px;*/
    justify-content: center;
    align-items: center;
  }

  .heading-servicii {
    font-size: 22px;
    font-weight: lighter;
  }

  .btn-servicii {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #c1a267ff;
    color: white;
    font-family: Montserrat;
    height: 33px;
    width: 170px;
    text-align: left;
    font-size: 16px;
  }

  .servicii-cont {
    width: 100%;
    /* height: 1600px; */
    background-color: black;
  }

  .img-serv {
    width: 100%;
    object-fit: cover;
    height: 180px;
  }

  .servicii-title {
    font-family: Montserrat;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
    margin: 0;
    padding-top: 80px;
  }

  .servicii-subtitle {
    font-family: Montserrat;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    margin: 0;
    padding-top: 10px;
  }

  .line-dec-ver {
    width: 0.5px;
    height: 60px;
    background-color: #c1a267ff;
    position: absolute;
    margin-left: 50%;
    margin-top: 20px;
    z-index: 0;
  }

  .line-dec-ver2 {
    display: none;
  }

  .row-servicii {
    padding-top: 120px;
    width: 90%;
    display: flex;
    /* height: 300px; modificat */
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  .row-servicii1 {
    padding-top: 50px;
    width: 90%;
    display: flex;
    /* height: 300px; modificat*/
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
  }

  .col-servicii {
    width: 33.33%;
    /*border: 1px solid white;*/
    margin-left: 35px;
    margin-right: 35px;
    /* height: 500px; modificat */
    height: auto;
  }

  .brief-img-servicii {
    padding-top: 23px;
    height: 240px;
    width: 340px;
    object-fit: cover;
  }
  .brief-text p {
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .desc-servicii {
    width: 90%;
    margin: auto;
  }
  .brief-img-servicii {
    object-fit: cover;
    object-position: center;
    height: 230px;
    width: 100%;
  }

  .img-serv {
    width: 100%;
    object-fit: cover;
    height: 280px;
  }

  .text-servicii {
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    margin-left: 15px;
    height: 250px;
  }

  .heading-servicii {
    font-size: 22px;
  }

  .btn-servicii {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #c1a267ff;
    color: white;
    font-family: Montserrat;
    height: 37px;
    width: 190px;
    text-align: left;
    font-size: 16px;
  }

  .row-servicii {
    padding-top: 55px;
    width: 100%;
    display: grid;
    height: 300px;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
  }

  .row-servicii1 {
    width: 100%;
    display: grid;
    height: 300px;
    /*margin-left: 5%;*/
    /*margin-right: 5%;*/
  }

  .col-servicii {
    width: 100%;
    /*border: 1px solid white;*/
    margin-top: 50px;
    height: 500px;
  }

  .servicii-cont {
    width: 100%;
    height: 4350px;
    background-color: black;
  }

  .servicii-title {
    font-family: Montserrat;
    text-align: center;
    font-size: 28px;
    color: #ffffff;
    margin: 0;
    padding-top: 30px;
  }

  .servicii-subtitle {
    font-family: Montserrat;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding-top: 10px;
  }

  .line-dec-ver {
    width: 0.5px;
    height: 60px;
    background-color: #c1a267ff;
    position: absolute;
    z-index: 0;
    margin-left: 50%;
    margin-top: 20px;
  }

  .line-dec-ver2 {
    width: 20%;
    height: 2px;
    background-color: #c1a267ff;
    position: absolute;
    z-index: 0;
    margin-left: 40%;
    /* margin-top: 1380px; */
    margin-top: 1440px;
  }

  .first-brief-servicii {
    width: 100%;
    text-align: center;
    padding-top: 50px;
  }

  .second-brief-servicii {
    width: 100%;
    font-family: Montserrat;
    color: white;
  }

  .brief-servicii {
    display: grid;
    margin-top: 1400px;
  }

  .div-servicii {
    padding-left: 15px;
    padding-top: 80px;
  }
}
