.soon-p{
    font-family: 'Montserrat', serif;
    text-align: center;
    font-size: 24px;
    margin-left: 25px;
    margin-right: 25px;
}

.soon-cont{
    margin: 0;
    justify-content: center;
    align-items: center;
}