/* src/fonts.css */

/* Montserrat Regular */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat-Italic-VariableFont_wght.tff') format('truetype');
}


